*.exe
*.out
*.o
*.a
*.so
*.pch
*.gcda
*.gcno
*.gch
*.d
/**/temp.py
bin/*
.mypy_cache/
/lab*/main
/lab*/test
/**/sus_tests
.tabignore
/fuzz
/**/temp/
/**/.idea/
/**/.PVS-Studio/
/**/vgcore.*
/**/__pycache__/*